@import "mixins/buttons";
@import "mixins/colors";

.audio-survey-manager {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.audio-survey__header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid $lightgray;
  padding-bottom: 10px;
  margin-bottom: 20px;
  
  &.step-2,
  &.step-3 {
    justify-content: space-between;
  }
}

.audio-survey-header-button {
  @include button-base;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  
  .step-2 > &:before {
    content: "\2039";
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 100;
    display: inline-block;
    margin-right: 5px;
  }
}
