@import "mixins/colors";
@import "mixins/text";

$audio-recorder__footer-height: 63px;

.audio-recorder {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: $audio-recorder__footer-height;
}

.audio-recorder__title {
  @include page-title;
}

.audio-recorder__script {
  flex: 1;
  margin: 0;
  font-style: oblique;
  letter-spacing: 0.25px;
  overflow-y: scroll;
}

.audio-recorder__footer {
  display: flex;
  align-items: center;
  width: 100%;
  background: white;
  height: $audio-recorder__footer-height;
  
  &.l-fixed-to-bottom {
    padding: 0 15px;
    margin: auto;
    max-width: 800px;
  }
}

.audio-recorder__button.is-recording {
  background-color: $red;
  color: white;
}

.record-icon {
  display: inline-block;
  position: relative;
  background-color: $red;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 5px;
  
  &:after {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    bottom: -3px;
    right: -3px;
    border: 1px solid $red;
    border-radius: 50%;
  }
}

.stop-icon {
  display: inline-block;
  height: 13px;
  width: 13px;
  background-color: white;
  margin-right: 5px;
}
