@import "mixins/colors";
@import "mixins/text";

$audio-recorder__footer-height: 63px;

.audio-recorder__header > p {
  margin: 0;
}

.audio-recorder__script {
  font-style: oblique;
  letter-spacing: 0.25px;
  margin-top: 0;
  
  @include media(">=tablet")  {
    padding: 0 60px;
  }
}

.audio-recorder__sticky {
  position: sticky;
  top: 0;
  padding: 20px 0;
  background-color: white;
  
  @include media(">=tablet") {
    margin-bottom: 15px;
  }
}

.audio-recorder__button {
  padding: 10px 15px;
  
  @include media(">=tablet") {
    width: auto;
  }
}

.audio-recorder__button.is-recording {
  background-color: $red;
  color: white;
}

.record-icon {
  display: inline-block;
  position: relative;
  background-color: $red;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 5px;
  
  &:after {
    content: '';
    position: absolute;
    left: -3px;
    top: -3px;
    bottom: -3px;
    right: -3px;
    border: 1px solid $red;
    border-radius: 50%;
  }
}

.stop-icon {
  display: inline-block;
  height: 13px;
  width: 13px;
  background-color: white;
  margin-right: 5px;
}
