@import "mixins/text";

.not-found-header,
.expired-header {
  @include page-title;

  @include media(">=tablet") {
    font-size: 28px;
  }
}

.not-found-header {
  padding-top: 25px;
}

.expired-message {
  font-size: 14px;

  @include media(">=tablet") {
    font-size: 18px;
  }
}
