.expiration-modal__overlay {
  background-color: rgba(255, 255, 255, 0.9);
}

.expiration-modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  height: 100%;
  width: 100%;
  background: transparent;
  box-shadow: none;
  padding: 55px 20px;
  
  @include media(">=tablet") {
    width: auto;
  }
}

.expiration-modal__title {
  margin-bottom: 15px;
}

.expiration-modal__body {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 20px;

  > p {
    margin-bottom: 20px;
  }
}
