.personal-info__input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px; 
  
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  
  &::placeholder {
    font-style: oblique;
    color: $gray;
    letter-spacing: 0.5px;
  }
}

.personal-info__submit {
  @include neon-button;
}

