@import "mixins/colors";
@import "mixins/text";
@import "mixins/buttons";

.personal-info__title {
  @include page-title;
  margin-bottom: 25px;
}

.personal-info__input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px; 
  
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  
  &::placeholder {
    font-style: oblique;
    color: $gray;
    letter-spacing: 0.5px;
  }
}

.personal-info__submit {
  @include neon-button;
}

.personal-privacy {
  display: block;
  color: $gray;
  text-decoration: none;
  margin-bottom: 25px;
  font-size: 12px;
}
