@import "mixins/colors";
@import "mixins/text";
@import "mixins/buttons";

.personal-info__title {
  @include page-title;
  margin-bottom: 25px;
}

.personal-info__body {
  margin-bottom: 20px;
}

.personal-info__input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px; 
  border: 1px solid $lightgray;
  
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  
  &::placeholder {
    font-style: oblique;
    color: $gray;
    letter-spacing: 0.5px;
  }
  
  &.is-error {
    border-color: $red;
    margin-bottom: 0;
  }
}

.personal-info__submit {
  @include neon-button;
}

.personal-privacy {
  display: block;
  color: $gray;
  text-decoration: none;
  margin-bottom: 25px;
  font-size: 14px;
}

.personal-info__errors > ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  color: $red;
}
  
