@import "mixins/buttons";
@import "mixins/colors";

.playback-screen__header {
  position: relative;
  margin-bottom: 15px;
  border-top: 1px solid $nearwhite;
  border-bottom: 1px solid $nearwhite;
  
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.playback-button {
  @include button-base;
  display: block;
  width: 100%;
  padding: 10px;
  
  color: $teal;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: left;
  
  &:focus {
    outline: none;
    color: black;
  }
}

.playback-play {
  display: inline-block;
  height: 0;
  width: 0;
  border-left: 10px solid $teal;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.playback-screen__progress {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  
  background-color: $nearwhite;
  
  transition: width 150ms ease;
}

.playback-screen__footer {
  display: flex;
  flex-direction: column;
  
  @include media(">=tablet") {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.playback-screen__approve {
  margin-bottom: 18px;
  
  @include media(">=tablet") {
    order: 2;
    margin-bottom: 0;
  }
}

.playback-screen__cancel {
  @include media(">=tablet") {
    margin-right: 15px;
    order: 1;
  }
}

.playback-screen__approve,
.playback-screen__cancel {
  @include media(">=tablet") {
    flex-basis: 155px;
    font-size: 14px;
  }
}
