<h1>{{survey.title}}</h1>
<p>
  {{survey.summary}}
</p>

<div class="small-notice">
  <p>
    For this to work you must have:
  </p>
  <ul>
    <li>
      An Android device running XXX or an iOS device running iOS 11.
    </li>
  </ul>
</div>

{{#action-button click=(action goTo 1)}}
Get Started
{{/action-button}}
