<h1 class="step-zero__title">{{survey.title}}</h1>
<p class="step-zero__summary">
  {{survey.summary}}
</p>

<div class="step-zero__notice">
  <p>
    By submitting content through this app, you are agreeing to our terms and conditions available at <a href="//www.nypublicradio.org/terms" target="_blank" rel="nofollow noopener">nypublicradio.org/terms</a>. You're giving New York Public Radio permission to use your submission.
  </p>
  <p>
    This feature is in BETA. For the best results please make sure:
  </p>
  <ul>
    <li>
      Your browser is up to date.
    </li>
    <li>
      Or, on mobile, using iOS 11+ or Android OS 8.0+.
    </li>
    <li>
      Turn your volume up and wait for the beep before recording.
    </li>
    <li>
      Speak into your device's mic.
    </li>
    <li>
      Don’t lock your phone screen.
    </li>
  </ul>
</div>

{{#action-button click=(action goTo 1)}}
Get Started
{{/action-button}}
