<h2 class="cancel__header">Your recording has NOT been submitted</h2>

<p>
  You cancelled the submission of your recording. If you'd like, you can start over.
</p>

{{#action-button click=(action 'cancel')}}
  Start Over
{{/action-button}}
