<div class="audio-recorder__header">
  <p>
    {{{title}}} Press the record button and begin:
  </p>
</div>

<div class="audio-recorder__sticky">
  {{#action-button
    data-action="Step 1"
    disabled=connect.isRunning
    click=(action toggleRecord)
    class=(concat 'gtm__click-tracking-w-text audio-recorder__button' (if record.isRunning ' is-recording'))}}
    {{#if twilio.connect.isRunning}}
      Connecting...
    {{else if record.isRunning}}
      <span class="stop-icon"></span> Stop Recording
    {{else}}
      <span class="record-icon"></span> Start Recording
    {{/if}}
  {{/action-button}}
</div>


{{#if question.questionText}}
  <p class="audio-recorder__script">
    {{{question.questionText}}}
  </p>
{{/if}}
