<h2 class="audio-recorder__title">Record Yourself</h2>

{{#if question.questionText}}
  <p>
    Press the record button and begin reading the script:
  </p>

  <p class="audio-recorder__script">
    {{{question.questionText}}}
  </p>
{{else}}
  <p>
    Press the record button and begin telling your story.
  </p>
{{/if}}

<div class="l-fixed-to-bottom">
  {{#action-button
    click=(action toggleRecord)
    classNames=(if twilio.record.isRunning 'is-recording')}}
    {{#if twilio.connect.isRunning}}
      Connecting...
    {{else if twilio.record.isRunning}}
      Stop Recording
    {{else}}
      Start Recording
    {{/if}}
  {{/action-button}}
</div>
