{{#modal-dialog
  overlayClass="escape-modal__overlay"
  containerClass="escape-modal__container"
  renderInPlace=renderInPlace}}
  <h3 class="escape-modal__title">This session has timed out.</h3>
  <div class="escape-modal__body">
    <p>
      Please leave your phone screen unlocked to avoid the session timing out again.
    </p>
    
    {{#action-button click=startOver class="escape-modal__window-button gtm__click-tracking-w-text" data-action="Error"}}
      Start Again
    {{/action-button}}
  </div>
  
  <div class="escape-modal__footer">
    <p>
      If that still does not work, copy this url and paste it in a new browser window: 
    </p>
  </div>
  
  {{#copy-button
    data-action="Error"
    data-label="Copy URL"
    class="escape-modal__copy-button gtm__click-tracking"
    clipboardText=location
    disabled=isCopied
    success=(action (mut isCopied) true)}}
    {{unless isCopied 'Copy the URL' 'Copied!'}}
  {{/copy-button}}
  
{{/modal-dialog}}
