<h2 class="personal-info__title">Enter your info</h2>

{{#each personalQuestions as |question|}}

  {{input class="personal-info__input" value=(get changeset question.shortName) placeholder=question.label name=question.shortName}}
  
  {{#if (get changeset.error question.shortName)}}
  <small>
    <ul>
      {{#each (get (get changeset.error question.shortName) 'validation') as |message|}}
      <li>
        {{message}}
      </li>
      {{/each}}
    </ul>
  </small>
  {{/if}}
{{/each}}

<a href="http://www.wnyc.org/privacy/" class="personal-privacy" target="_blank" rel="help">Privacy Policy</a>

{{input class="personal-info__submit" type='submit' value='Submit Your Recording'}}
