{{#each personalQuestions as |question|}}

  {{input class="personal-info__input" value=(get changeset question.shortName) placeholder=question.label}}
  
  {{#if (get changeset.error question.shortName)}}
  <small>
    <ul>
      {{#each (get (get changeset.error question.shortName) 'validation') as |message|}}
      <li>
        {{message}}
      </li>
      {{/each}}
    </ul>
  </small>
  {{/if}}
{{/each}}

{{input class="personal-info__submit" type='submit' value='Submit Your Recording'}}
