{{#modal-dialog
  overlayClass="expiration-modal__overlay"
  containerClass="expiration-modal__container"
  renderInPlace=renderInPlace}}
  
  <h2 class="expiration-modal__title">We are no longer accepting submissions.</h2>

  <div class="expiration-modal__body">
    {{yield}}
  </div>
  
{{/modal-dialog}}
