{{#with model.survey as |survey|}}
<div class="l-maxwidth">
  {{#if survey.brandLinkLabel}}
    {{survey-header
      image=survey.brandLogo.url
      height=survey.brandLogo.height
      width=survey.brandLogo.width
      title=survey.brandLinkLabel
      url=survey.brandLink
    }}
  {{/if}}
</div>
{{/with}}

<div class="l-page">
  {{outlet}}
</div>
